<!-- Left container for recommendations -->
<div class="form-container">
    <p class="recommendation-intro">Top 5 Recommendations</p>
    <table>
        <caption>Movies Recommended by Page</caption>
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Year</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="static/images/movie1.jpg" alt="Movie 1"></td>
                <td>Movie 1</td>
                <td>Action</td>
                <td>2021</td>
                <td>9.0</td>
            </tr>
            <tr>
                <td><img src="static/images/movie2.jpg" alt="Movie 2"></td>
                <td>Movie 2</td>
                <td>Comedy</td>
                <td>2020</td>
                <td>8.5</td>
            </tr>
            <tr>
                <td><img src="static/images/movie3.jpg" alt="Movie 3"></td>
                <td>Movie 3</td>
                <td>Drama</td>
                <td>2019</td>
                <td>8.7</td>
            </tr>
            <tr>
                <td><img src="static/images/movie4.jpg" alt="Movie 4"></td>
                <td>Movie 4</td>
                <td>Sci-Fi</td>
                <td>2022</td>
                <td>9.2</td>
            </tr>
            <tr>
                <td><img src="static/images/movie5.jpg" alt="Movie 5"></td>
                <td>Movie 5</td>
                <td>Thriller</td>
                <td>2018</td>
                <td>8.8</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Right container for friend recommendations -->
<div class="form-container">
    <p class="recommendation-intro">Top 5 Recommendations from Friends</p>
    <table>
        <caption>Movies Recommended by Friends</caption>
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Year</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="static/images/friend_movie1.jpg" alt="Friend Movie 1"></td>
                <td>Friend Movie 1</td>
                <td>Adventure</td>
                <td>2020</td>
                <td>8.5</td>
            </tr>
            <tr>
                <td><img src="static/images/friend_movie2.jpg" alt="Friend Movie 2"></td>
                <td>Friend Movie 2</td>
                <td>Comedy</td>
                <td>2021</td>
                <td>8.2</td>
            </tr>
            <tr>
                <td><img src="static/images/friend_movie3.jpg" alt="Friend Movie 3"></td>
                <td>Friend Movie 3</td>
                <td>Drama</td>
                <td>2018</td>
                <td>8.9</td>
            </tr>
            <tr>
                <td><img src="static/images/friend_movie4.jpg" alt="Friend Movie 4"></td>
                <td>Friend Movie 4</td>
                <td>Thriller</td>
                <td>2022</td>
                <td>9.1</td>
            </tr>
            <tr>
                <td><img src="static/images/friend_movie5.jpg" alt="Friend Movie 5"></td>
                <td>Friend Movie 5</td>
                <td>Action</td>
                <td>2019</td>
                <td>8.7</td>
            </tr>
        </tbody>
    </table>
</div>